<settings>
	<servers>
		<server>
			<id>nexus-releases</id>
			<username>admin</username>
			<password>${env.NEXUS_ADMIN_PASSWORD}</password>
		</server>
		<server>
			<id>nexus-snapshots</id>
			<username>admin</username>
			<password>${env.NEXUS_ADMIN_PASSWORD}</password>
		</server>
	</servers>
</settings>